parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - vendor
        - tests
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
